<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <a href="/home" mat-raised-button color="primary">Home</a>
      <a href="/about-us" mat-raised-button color="primary">About</a>
      <a href="/admin/login" mat-raised-button color="primary">Admin Login</a>
      <a href="/admin/register" mat-raised-button color="primary">Admin Register</a>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>